<div class="py-3">
  <h2 id="page-heading" data-cy="PlantHeading">
    <span>Family : {{familyName}}</span>

    <div class="header-table" >

      <form #f="ngForm" class="d-flex">
        <div class="form-group">
          <input type="text" class="form-control" name="value" [(ngModel)]="value" placeholder="Search">
        </div>
        <div class="form-group">
          <select class="form-control" name="searchKey" [(ngModel)]="searchKey">
            <option value="scientificName" >Scientific Name</option>
            <option value="englishName" >English Name</option>
            <option value="voucherNumber" >Voucher Number</option>
            <option value="localName" >Local Name</option>
          </select>
        </div>
        <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
          <span>Search</span>
          <fa-icon icon="search" [spin]="isLoading"></fa-icon>
        </button>
      </form>

      <div class="d-flex justify-content-end">


        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                id="jh-create-entity"
                data-cy="entityCreateButton"
                class="btn btn-primary jh-create-entity create-plant"
                [routerLink]="['/plant/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span> Create a new Plant </span>
        </button>
      </div>

    </div>

  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="plants?.length === 0">
    <span>No plants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="plants && plants.length > 0">

    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" ><span>Picture</span></th>
          <th scope="col" jhiSortBy="scientificName"><span>Scientific Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="localName"><span>Local Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="voucherNumber"><span>Voucher Number</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plant of plants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a *ngIf="plant.picture" (click)="openFile(plant.picture, plant.pictureContentType)">
              <img [src]="'data:' + plant.pictureContentType + ';base64,' + plant.picture" style="max-height: 30px" alt="plant image" />
            </a>
          </td>
          <td>{{ plant.scientificName }}</td>
          <td>{{ plant.localName }}</td>
          <td>{{ plant.voucherNumber }}</td>

          <td class="text-right" >
            <div class="btn-group">
              <button type="submit" [routerLink]="['/plant', plant.id, 'view']" class="btn btn-info btn-sm btn-action" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
              </button>
              <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" [routerLink]="['/plant', plant.id, 'edit']" class="btn btn-primary btn-sm btn-action" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>
              <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(plant)" class="btn btn-danger btn-sm btn-action" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="plants && plants.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
