<div>
  <h2 id="page-heading" data-cy="PlantHeading">
    <span>Plants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plant"
        [routerLink]="['/plant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Plant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="plants?.length === 0">
    <span>No plants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="plants && plants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="scientificName"><span>Scientific Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="synonym"><span>Synonym</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="localName"><span>Local Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="englishName"><span>English Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="voucherNumber"><span>Voucher Number</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="picture"><span>Picture</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="botanicalDescription"><span>Botanical Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="therapeuticUses"><span>Therapeutic Uses</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="usedParts"><span>Used Parts</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="preparation"><span>Preparation</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pharmacologicalActivities"><span>Pharmacological Activities</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="majorPhytochemicals"><span>Major Phytochemicals</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ecologicalStatus.id"><span>Ecological Status</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="family.id"><span>Family</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plant of plants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/plant', plant.id, 'view']">{{ plant.id }}</a>
          </td>
          <td>{{ plant.scientificName }}</td>
          <td>{{ plant.synonym }}</td>
          <td>{{ plant.localName }}</td>
          <td>{{ plant.englishName }}</td>
          <td>{{ plant.voucherNumber }}</td>
          <td>
            <a *ngIf="plant.picture" (click)="openFile(plant.picture, plant.pictureContentType)">
              <img [src]="'data:' + plant.pictureContentType + ';base64,' + plant.picture" style="max-height: 30px" alt="plant image" />
            </a>
            <span *ngIf="plant.picture">{{ plant.pictureContentType }}, {{ byteSize(plant.picture) }}</span>
          </td>
          <td>{{ plant.botanicalDescription }}</td>
          <td>{{ plant.therapeuticUses }}</td>
          <td>{{ plant.usedParts }}</td>
          <td>{{ plant.preparation }}</td>
          <td>{{ plant.pharmacologicalActivities }}</td>
          <td>{{ plant.majorPhytochemicals }}</td>
          <td>
            <div *ngIf="plant.ecologicalStatus">
              <a [routerLink]="['/ecological-status', plant.ecologicalStatus?.id, 'view']">{{ plant.ecologicalStatus?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="plant.family">
              <a [routerLink]="['/family', plant.family?.id, 'view']">{{ plant.family?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/plant', plant.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/plant', plant.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(plant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="plants && plants.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
